body{
	background-color: #000000;	
	font-family: Garamond, serif;
	font-size: 18px;
}


h1{
	text-align: center;
	margin-top: -100px;
}

h2{
	text-align:center;
		
}

img {
	border-radius: 5px;
	border: 2px dotted #ff0000;
	display: block;
	height: 100px;
	width: 300px;
	margin: auto;
	margin-top: 150px;
}

p {
	text-align: center;
	
}

.menu{
list-style:none;
border:1px solid #c0c0c0;
float:left;
margin-top: -360px;
}


.menu li{
display: inline;
position:relative;
float:left;
border-right:1px solid #c0c0c0;
}


.menu li a{color:#FFFFFF ; text-decoration:none; padding: 3px 10px; display:block;}

.menu li a:hover{
background:#ff0000;
color:#fff;

}



div {
	border-radius: 5px;
	border: 2px solid #696969;
	background-color: #696969;
	height: 25px;
	width: 120px;
	margin: auto;
	text-align: center;
}

a{
	text-decoration: none;	
}
